/* -- fonts -- */

@font-face {
	font-family: 'FontAwesome';
	src: 	url('fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
	src: 	url('fonts/fontawesome-webfont.woff2'), /* Super Modern Browsers */
				url('font/fontawesome-webfont.woff'), /* Pretty Modern Browsers */
				url('font/fontawesome-webfont.svg'); /* Legacy iOS */
}

body {
	font-family: 'FontAwesome', sans-serif;
}

.white {
	color: #fff;
}

/* -- general -- */
* {
	box-sizing: border-box;
}

.upcase {
	text-transform: uppercase;
}

.center {
	text-align: center;
}

/* -- nav -- */

.logo {
	height: 75px;
	width: 100px;
	border: 1px solid blue;
}


/* -- banner -- */

.banner {
	background: url('../img/highway.jpg') no-repeat center;
	padding: 3.2em 0;
}




/* -- media queries -- */

/* tablet portrait */
@media (min-width: 769px) {

}

/* desktop */
@media (min-width: 1025px) {

}