/* -- fonts -- */

@font-face {
	font-family: 'FontAwesome';
	src: 	url('fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
	src: 	url('fonts/fontawesome-webfont.woff2'), /* Super Modern Browsers */
				url('font/fontawesome-webfont.woff'), /* Pretty Modern Browsers */
				url('font/fontawesome-webfont.svg'); /* Legacy iOS */
}

body {
	font-family: 'FontAwesome', sans-serif;
	line-height: 1.4em;
}

.white {
	color: #fff;
}

p {
	color: #AAA;
}

/* -- general -- */
* {
	box-sizing: border-box;
}

.upcase {
	text-transform: uppercase;
}

.center {
	text-align: center;
}

button {
	text-transform: uppercase;
	color: white;
	padding: 1em 1.5em;
}

.transparent {
	background: rgba(0,0,0,0);
	border: 2px solid #A8A8A8;
	border-radius: 5%;
}

ul {
	list-style: none;
}


/* -- nav -- */

.logo {
	height: 75px;
	width: 100px;
	border: 1px solid blue;
}


/* -- banner -- */

.banner {
	background: url('../img/highway.jpg') no-repeat center;
	width: 100%;
	padding: 8em 0;
	position: relative;
	-webkit-clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}

.banner-content {
	width: 80%;
	margin: 0 auto;
}


.clearfix::after {
	content:" ";
	display: block;
	clear: both;
}





/* -- media queries -- */

/* tablet portrait */
@media (min-width: 769px) {

}

/* desktop */
@media (min-width: 1025px) {
	.banner {
		-webkit-clip-path: polygon(100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
	}

}