/* -- banner --*/

.banner {
	height: 10em;
	-webkit-clip-path: none;
}

.line {
	border-bottom: 2px solid #d3d3d3;
}

/* -- top description --*/

.pricing-content {
	padding-top: 2em;
	padding-bottom: 2em;
}

.pricing-description p:first-child {
	padding-top: 1em;
}

/* -- value -- */

.stats {
	left: 10%;
	width: 75%;
}

.stats h2 {
	color: #fff;
	letter-spacing: .05em;
	line-height: 1.25em;
}

.parallax {
	height: 25em;
}

.parallax-img {
	transition: transform 5s;
  transform-style: preserve-3d;
  position: absolute;
  /*height: 25em;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	background: url("../img/parallax03.jpg") no-repeat center center fixed;
	background-size: cover;
	z-index: 2;
}

.stats button {
	background-color: #e74e3e;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 0 #333;
}

.stats button:hover {
	opacity: .75;
}



