/* -- banner --*/

.banner {
	height: 10em;
	-webkit-clip-path: none;
}

.line {
	border-bottom: 2px solid #d3d3d3;
}

/* -- top description --*/

.pricing-content {
	padding-top: 2em;
	padding-bottom: 2em;
}

.pricing-description p:first-child {
	padding-top: 1em;
}

/* -- value -- */

.stats {
	left: 10%;
	width: 75%;
}

.stats h2 {
	color: #fff;
	letter-spacing: .05em;
	line-height: 1.25em;
}

.parallax {
	height: 25em;
}

.parallax-img {
	transition: transform 5s;
  transform-style: preserve-3d;
  position: absolute;
  /*height: 25em;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	background: url("../img/parallax03.jpg") no-repeat center center fixed;
	background-size: cover;
	z-index: 2;
}

.stats button {
	background-color: #e74e3e;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 0 #333;
}

.stats button:hover {
	opacity: .8;
}

/* -- price list -- */

.price-list p {
	color: #666;
}

.prices {
	margin: 0 auto;
	border-collapse: collapse;
}

table th{
	border: 1px solid #d3d3d3;
}

table td {
	border: .01em solid #d3d3d3;
}

th:first-child, 
table td[scope="row"] {
	text-align: left;	
}

table th {
	background-color: rgba(231,78,62,0.2);
}

.price-list {
	padding: 4em;
}

.price-list p {
	padding-top: 1em;
	padding-bottom: 3em;
}

table th,
table td:not(:first-child) {
	padding: .8em 2em;
}

th:first-child,
td:first-child {
	padding-left: 3em;
	padding-right: 4em;
}

	tr:nth-child(even) {
		background: #f2f2f2;
	}

	tr:nth-child(odd) {
		background: #fff;
	}



/* ------------- 
   MEDIA QUERIES 
-------------- */

/* --- tablet --- */

@media (min-width: 768px) {
	.price-list {
		padding: 1em;
		}

}

/* --- mobile --- */

@media (max-width: 736px) {

.price-list {
	padding: 2em 0;
}

.prices {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%; 
}

	th:not(:first-child) {
		visibility: hidden;
		display: none;
	}

	th:first-child {
		text-transform: capitalize;
	}

	td {
		display: block;
		width: 100%;
		text-align: left;
	}

	td[data-th="country"] {
		background-color: rgba(231,78,62,0.2);
		font-weight: 600;
		padding: .8em 3em;
	}

	tbody td[data-th$="kg"] {
		display: flex;

	}

	td:not([data-th="country"]):before {
		content: attr(data-th);
		flex: 1;
	}
	


	td:nth-child(even),
	tr:nth-child(odd) 
	{
		background: #f2f2f2;
	}

	td:nth-child(2n+2) {
		background: #fff;
	}


}


