/* -- banner --*/

.banner {
	height: 10em;
	-webkit-clip-path: none;
}

.line {
	border-bottom: 2px solid #d3d3d3;
}

/* -- top description --*/

.banner-content {
	padding-top: 2em;
	padding-bottom: 2em;
}

.pricing-description p:first-child {
	padding-top: 1em;
}

/* -- value -- */

.stats {
	left: 15%;
	width: 75%;
}

.stats h2 {
	color: #fff;
	letter-spacing: .05em;
	line-height: 1.25em;
}

.parallax {
	height: 25em;
}

.parallax-img {
	transition: transform 5s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	background: url("../img/parallax03.jpg") no-repeat center center fixed;
	background-size: cover;
	z-index: 2;
}

.stats button {
	background-color: #e74e3e;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 0 #333;
}

.stats button:hover {
	opacity: .8;
}

/* -- price list -- */

.price-list {
	padding: 2em 0;
}

.price-list p {
	color: #666;
	padding-bottom: 0;
}

.prices {
	margin: 0 auto;
	border-collapse: collapse;
	width: 90%;
}

table th{
	border: 1px solid #d3d3d3;
}

table td {
	border: .01em solid #d3d3d3;
}

th:first-child, 
table td[scope="row"] {
	text-align: left;	
}

table th {
	background-color: rgba(231,78,62,0.2);
}

th:not(:first-child) {
	visibility: hidden;
	display: none;
}

th:first-child {
	padding: .8em 3em;
	text-transform: uppercase;
}

td {
		display: block;
		width: 100%;
		text-align: left;
		padding: .8em 3em;
	}

td[data-th="country"] {
	background-color: rgba(231,78,62,0.2);
	font-weight: 600;
}

td:not([data-th="country"])::before {
	content: attr(data-th);
	flex: 1;
}

tbody td[data-th$="kg"] {
	display: flex;
}

td:nth-child(even) {
	background: #f2f2f2;
}




/* ------------- 
   MEDIA QUERIES 
-------------- */

/* --- tablet --- */

@media (min-width: 768px) {

header nav {
	padding-top: 2em;
}

.logo {
	padding-top: .7em;
}

.banner {
	height: 10em;
	padding: 4em 0;
}

.banner-content p {
	max-width: 90%;
}

.banner-content {
	padding-bottom: 3em;
}

.pricing-description p:first-child {
	padding-top: 2em;
	padding-bottom: 1em;
}

.title {
	font-size: 280%;
	letter-spacing: .05em;
}

.stats {
	margin-top: 5em;
	left: 12%;
}

	.price-list {
		padding: 3em 1em;
	}

	.prices {
		width: 100%;
		table-layout: fixed;
	}

	.price-list p {
	padding-top: 1em;
	padding-bottom: 3em;
	}

	th {
		font-weight: initial;
	}

	th:not(:first-child) {
		visibility: visible;
		display: table-cell;
	}

	th:first-child {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1.1em;
		letter-spacing: .125em;
		padding: .8em 2em;
		text-align: left;
		width: 20%;
	}

	td {
		text-align: center;
		padding: 0.8em 2em;
	}

	td[data-th="country"] {
		background-color: initial;
		font-weight: initial;
		text-align: left;
	}

	tbody td[data-th$="kg"] {
		display: table-cell;
	}

	tbody td[data-th$="kg"]:before {
		content: none;
	}

	tr:nth-child(odd) 
	{
		background-color: #fff;
	}

	tr:nth-child(2n + 2) {
		background: #f2f2f2;
	}

	td:nth-child(even) {
		background: transparent;
	}

}

/* --- desktop --- */

@media (min-width: 1025px) {

/*header {
	padding: 4em 0;
	top: 0;
}*/

/*.anchored-header {
	padding-top: 2em;
	height: 6em;
}*/

/*ul.main-nav {
	padding: 0.5em;
}

.logo {
	margin-left: 3em;
}

.main-nav {
	margin-right: 10%;
	margin-top: initial;
}*/

.banner,
.value {
	width: 100%;
}

/*.banner {
	position: absolute;
}

.lg-container {
	width: 63%;
}
*/
.value {
	top: 40em;
}

.stats {
	left: 22%;
	width: 55%;
	flex-wrap: wrap;
	margin-top: 5.5em;
}

.pricing-content {
	padding-top: 5em;
	padding-bottom: 5em;
}

.prices {
	width: 80%;
}

.price-list {
	padding-top: 42em;
}

}


