/* -- general -- */

.line {
	border-bottom: 2px solid #d3d3d3;
	width: 82px;
	margin-bottom: 2em;
}

/* -- banner -- */

.top-banner {
	background: url('../img/highway.jpg') no-repeat center center fixed;
	background-size: cover;
	padding-top: 61px;
	height: 10em;
}

.banner {
	background: url('../img/ship-motion.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 33em;
	-webkit-clip-path: none;
}

.banner h1 {
	color: #e74e3e;
	letter-spacing: .125em;
	line-height: 1em;
	font-size: 1.9em;
}

.banner i {
	color: #fff;
}

.banner-content {
	padding-top: 10em;
}

.banner p {
	color: #fff;
	font-weight: 300;
	font-size: .9em;
	letter-spacing: 0.01em;
}

/* -- services -- */

.services {
	border-bottom: 2px solid #d3d3d3;
}

.services .lg-container {
	width: 85%;
	margin-top: 5em;
	margin-bottom: 3.5em;
}

.services h4 {
	margin-top: 2em;
	text-transform: uppercase;
	font-size: .95em;
	font-weight: 600;
	letter-spacing: .125em;
}

.service .line {
	border-bottom: 2px solid rgba(191,191,191,0.2);
}

/* -- branches -- */

.blogs-header {
	margin-top: 2.5em;
	margin-bottom: 3.5em;
}

.blogs-header .line {
	margin-bottom: 1.5em;
}

.blogs-header p {
	font-weight: 300;
	font-size: .95em;
	letter-spacing: 0.01em;
	margin-top: 0;
}

/* -- offerings -- */
.offerings {
	margin: 2em auto;
}

.offerings h2 {
	width: 90%;
}

.content {
	height: auto;
}

/* ------------
 MEDIA QUERIES
------------- */

/* --- tablet --- */

@media (min-width: 768px) {

	.banner {
		height: 24em;
	}

	.banner-content {
		padding: 3em;
		width: 100%;
	}

	.banner-content h1 {
		letter-spacing: .08em;
		font-size: 2.5em;
	}

	.banner-content h1.tel:hover {
		color: #fff;
	}

	.banner-content i {
		display: block;
	}

	.banner-content i {
		padding-bottom: 1em;
	}


	.blog-container {
		height:37.7vh;
		width:100%;
		position: relative;
	}

	.blog {
		position:absolute;
		width: 100%;
	}

	.blogs-header .line {
		margin-top: 1.5em;
	}

	.services .line {
		margin-top: 1.5em;
	}

	.service {
		opacity: 0;
	  -moz-transition: all 500ms linear;
	  -webkit-transition: all 500ms linear;
	  -o-transition: all 500ms linear;
	  transition: all 500ms linear;
	  -moz-transform: translate3d(0px, 200px, 0px);
	  -webkit-transform: translate3d(0px, 200px, 0px);
	  -o-transform: translate(0px, 200px);
	  -ms-transform: translate(0px, 200px);
	  transform: translate3d(0px, 200px, 0px);
	}

	.service.in-view {
	  opacity: 1;
	  -moz-transform: translate3d(0px, 0px, 0px);
	  -webkit-transform: translate3d(0px, 0px, 0px);
	  -o-transform: translate(0px, 0px);
	  -ms-transform: translate(0px, 0px);
	  transform: translate3d(0px, 0px, 0px);
	}

	.title,
	.tel {
		display: inline;
	}

	.tel {
		font-size: 3em;
	}

	.offerings {
	margin: 0 auto;
	}

	.navigation {
		margin: 0;
	}

}

/* --- desktop --- */

@media (min-width: 1025px) {

	.banner {
		width: 100%;
		height: 42em;
	}

	.banner h1 {
		font-size: 2.9em;
	}

	.banner-content {
		padding-top: 9em;
	}

	.top-banner {
		height: 8.5em;
		width: 100%;
		position: absolute;
		top: 0;
		z-index: 1;
	}

	.service h4 {
		margin-bottom: .5em;
	}

	.services h4:hover {
		color: #e74e3e;
	}

	.service-container {
		display: flex;
		flex-wrap: wrap;
	}

	.service {
		width: 33%;
		padding: 1em;
	}

	.service .line {
		margin-bottom: 1em;
	}

	.blog-container {
		width:50%;
		height: 22.5em;
	}

	.blog {
		position:absolute;
		width: 100%;
	}

	.blogs {
		margin-bottom: 0;
	}

	.blogs-header {
		padding-top: 5em;
		padding-bottom: 3em;
		margin-top: 0;
		margin-bottom: 0;
	}

	.blog-desc p {
		line-height: 1.5em;
	}

	.blog button {
		padding: 1.5em 0;
	}
}
