/* -- general -- */

.line {
	border-bottom: 2px solid #d3d3d3;
	width: 82px;
	margin-bottom: 2em;
}

/* -- banner -- */

.top-banner {
	background: url('../img/highway.jpg') no-repeat center center fixed;
	background-size: cover;
	padding-top: 61px;
	height: 10em;
}


.banner {
	background: url('../img/ship-motion.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 29em;
	-webkit-clip-path: none;
}

.banner h1 {
	color: #e74e3e;
	letter-spacing: .125em;
	line-height: 1em;
	font-size: 1.9em;
}

.banner i {
	color: #fff;
}

.banner-content {
	padding-top: 3em;
}

.banner p {
	color: #fff;
	font-weight: 300;
	font-size: .95em;
	letter-spacing: 0.01em;
}

/* -- services -- */

.services {
	border-bottom: 2px solid #d3d3d3;
}

.services .lg-container {
	margin-top: 5em;
	margin-bottom: 3.5em;
}

.services h4 {
	margin-top: 2em;
	text-transform: uppercase;
	font-size: .95em;
	font-weight: 600;
	letter-spacing: .125em;
}

.service .line {
	border-bottom: 2px solid rgba(191,191,191,0.2);
}

/* -- branches -- */

.blogs-header {
	margin-top: 2.5em;
	margin-bottom: 3.5em;
}

.blogs-header .line {
	margin-bottom: 1.5em;
}

.blogs-header p {
	font-weight: 300;
	font-size: .95em;
	letter-spacing: 0.01em;
	margin-top: 0;
}

/* -- offerings -- */
.offerings {
	margin: 2em auto;
}

.offerings h2 {
	width: 90%;
}

.content {
	height: auto;
}


/* ------------
 MEDIA QUERIES
------------- */

/* --- tablet --- */

@media (min-width: 768px) {

	.banner {
		height: 24em;
	}

	.banner-content {
		padding: 0;
		width: 100%;
	}

	.banner-content h1 {
		letter-spacing: .08em;
	}

	.banner-content h1.tel:hover {
		color: #fff;
	}

	.banner-content i {
		display: block;
	}

	.banner-content i {
		padding-bottom: 1em;
	}

/*		i.fa-chevron-up.fa-lg {
		display: initial;
		visibility: visible;
		color: white;
  	position: fixed;
  	right: 2em;
  	bottom: 1em;
  	z-index: 1000;
  	box-shadow: 5px 5px 10px 1px rgba(64, 62, 63, 0.53), 10px 10px 50px 10px rgba(64, 62, 63, 0.2) inset;
  	border: none;
		padding: .7em;
		background-color: #e74e3e;
		border-radius: 50%;
	}*/


	.blogs-header .line {
		margin-top: 1.5em;
	}

	.services .line {
		margin-top: 1.5em;
	}

	.title,
	.tel {
		display: inline;
	}

	.tel {
		font-size: 3em;
	}

	.offerings {
	margin: 0 auto;
	}

	.navigation {
		margin: 0;
	}

}

/* --- desktop --- */

@media (min-width: 1025px) {
	

	.main-nav {
		margin-right: 10%;
		margin-top: initial;
	}

	.logo {
		margin-left: 2.5em;
	}

	.banner {
		padding: 8em 0;
		width: 100%;
		top: 17vh;
	}

	.top-banner {
		height: 8.5em;
		width: 100%;
		position: absolute;
		top: 0;
	}

	.service h4 {
		margin-bottom: .5em;
	}

	.services {
		padding-top: 61vh;
	}
	.services h4:hover {
		color: #e74e3e;
	}

	.service-container {
		display: flex;
		flex-wrap: wrap;
	}

	.service {
		width: 33%;
		padding: 1em;
	}

	.service .line {
		margin-bottom: 1em;
	}

	.blogs {
		margin-bottom: 0;
	}

	.blog-desc p {
		line-height: 1.5em;
	}

	.blog button {
		padding: 1.5em 0;
	}


}
